body {
  color: #000;
  background: #fff url("../images/bkgd.jpg") no-repeat top center;
}
body#tinymce {
	background: white;
	}
#page {
  border: solid 12px #2867b4;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
  background: url("../images/page_bkgd.jpg") repeat-x scroll 0 132px #FFFFFF;
}

#header {
  height: 100px;
  background: #fff url("../images/header_bkgd.png") repeat-y scroll right top;
  margin: 0;
  padding: 0 10px;
}

a#logo {
  background:url("../images/logo.png") no-repeat scroll left top transparent;
  color:transparent;
  display:block;
  height:57px;
  width:299px;
  margin: 20px 0 0 20px;
}

#branding {
    background: #fff url("../images/header_bkgd.png") top right repeat-y;
      width:100%;
}

#wrapper {
}

#wrapper .block {
}

#alertbox {
  background: #c40000;
  color: #fff;
}

#main {
}

#content {
}

#content .block {
}

#sidebar-right {
}

#sidebar-right .block {
}

a:link {
  color: #0b376c;
  }
a:visited {
  color: #0b376c;
  }
a:hover  {
  color: #ffa50c;
  }  

#main-menu .megamenu-parent-title a:link {
  color: #000;
  }
#main-menu .megamenu-parent-title a:visited {
  color: #000;
  }
#main-menu .megamenu-parent-title a:hover  {
  color: #000;
  }  

#main-menu li .megamenu-parent-title a.active {
background-color:#ffeeb8;
}

.front #main-menu li .megamenu-parent-title a.active {
background-color:transparent;
}

#sidebar-left .block-menu li a.active {
/* background-color: #F8F2CE;   */
	color: #2165AB;
}

#block-menu-menu-navigation-corner a:link {
    color: #fff;
}
#block-menu-menu-navigation-corner a:visited {
    color: #fff;
}
#block-menu-menu-navigation-corner a:hover {
    color: #d5981c;
}

#block-megamenu-0 {
  -webkit-box-shadow: 0px 10px 10px #03428f;
  -moz-box-shadow: 0px 10px 10px #03428f;
  box-shadow: 0px 10px 10px #03428f; 
}



/* #main-menu {
  background: #da5 url("../images/nav_bkgd.png") repeat-x 0 0;
  width:100%;
  -webkit-box-shadow: 0px 5px 3px #03428f;
  -moz-box-shadow: 0px 5px 3px #03428f;
  box-shadow: 0px 5px 3px #03428f; 
} */

#footer {
  background-color:#ACC4E2;
  border-top: solid 6px #2867b4;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}


.node-unpublished {
  background: #fed;
}
.messages {
  color: #fff;
  margin-bottom: 10px;
  padding: 1em;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 
}
.messages.status {
  background: #2a0;
}
.messages.warning {
  background: #a60;
}
.messages.error {
  background: #c40000;
  color: #fff;
  padding: 1em;
}
.help {
  color: #555;
  padding: .5em 1em;
  border-left: 20px solid #555;
  border-right: 20px solid #555;
  background: #fff;
}

td.active {
background-color: #F6EAB9;
}