input, textarea {
  color: #444;
  background: #eee;
}

/* Remove white background from radio btns (Display issue for IE) */
input.form-radio { 
	background: transparent;
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
  border: 0;
  padding: 0;
}

#search {
  display: inline-block;
}

#edit-search-theme-form-1-wrapper, #edit-submit  {
 display:inline-block; 
}

input.form-submit, .views-field-field-url-link-url .field-content, .views-field-field-url-link2-url .field-content, #post_new_question, #block-block-34 .button a {
 /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background:#f60 url('../images/input_bkgd.png') top left repeat-x;
  border:1px solid #ef5d2d;
  height:auto;
  padding:4px 6px 4px;
  color: #fff; */
}

#searchwrapper {
  width: 230px;
  height: 25px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  position: relative;
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {
  border:0px; /*important*/
  background-color:transparent; /*important*/
  position:absolute; /*important*/
  top: -12px;
  width:150px;
  height:25px;
}
  
.searchbutton {
  border:0px; /*important*/
  background-color:transparent; /*important*/
  position:absolute; /*important*/
  top: 2px;
  right: 5px;
  width:17px;
  height:17px;
}
 
.searchbutton input {
  width: 17px;
  height: 17px;
}
 
.container-inline div, .container-inline label {
  display: block;
}
 
.searchbox input {
}



#ask_question_form_open #edit-submit {
  margin-bottom: 20px;
}

.views-field-field-url-link-url .field-content a:link, .views-field-field-url-link2-url .field-content a:link, #block-block-34 .button a:link {
  color: #fff;
}

.views-field-field-url-link-url .field-content a:hover, .views-field-field-url-link2-url .field-content a:hover, #post_new_question a:hover, #block-block-34 .button a:hover {
  color: #000;
}

input.form-submit:hover {
  cursor:pointer;
 /* color: #000;
  background:#666 url('../images/input_hover_bkgd.png') top left repeat-x;
  border:1px solid #000; */
}
  
.form-item input:checked {
  color: #c40000;
}