/* borrowing from Eric Meyer's reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* Need these 2 lines to override the v-align reset in the parent 960 theme. */
sub { vertical-align: sub; font-size: 80%; } 
sup { vertical-align: super; font-size: 80%; } 
/* Need this line to override the blockquote reset in the parent 960 theme. */
blockquote {
	margin: 16px 40px;
}

body {
	line-height: 1;
}
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img,:link img,:visited img { border:none }

address { font-style:normal }