/* base styles */
ol, ul { list-style-position: outside; }
ol { list-style-type: decimal; }
ul { list-style-type: circle; }

/* remember to define focus styles! */
:focus { outline: 0; }

.views-exposed-form .views-exposed-widget .filter-submit-btn {
    font-size: 1em;
    margin-top: 22px;
    padding: 2px 4px;
    text-transform: uppercase;
    background-color: #FFA507;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
}

#sidebar-left .block {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px solid #56738e;
	padding: 10px 10px 10px 14px;
	margin-bottom: 8px;
	background-color: #fff;
}

#block-block-10, #block-views-highlights-block_1 /* future slideshow */ {
	border-top: 1px solid #ffcc33;
	border-bottom: 1px solid #ffcc33;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 5px #03428f;
	-moz-box-shadow: 0px 3px 5px #03428f;
	box-shadow: 0px 3px 5px #03428f;
}

#block-block-11 /* future left bottom content block */ {
	background-color: #f5f3ea;
	border-right: 1px solid #ffcc33;
}

#block-block-12 /* future right bottom content block */ { background-color: #fff; }

div#qpchat-message {
  font-family: sans-serif;
  padding: 10px 10px 10px 14px; 
  line-height: 150%; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  border: 1px solid black;
}

#block-quicktabs-1.block {
    padding: 20px 0 0;
}

.quicktabs_main  {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
padding: 10px;
}

.quicktabs_main { 
  background: #bccce0; /* Old browsers */
background: -moz-linear-gradient(top, #86afe0 0%, #bccce0 30%, #bccce0 71%, #86afe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86afe0), color-stop(30%,#bccce0), color-stop(71%,#bccce0), color-stop(100%,#86afe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #86afe0 0%,#bccce0 30%,#bccce0 71%,#86afe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #86afe0 0%,#bccce0 30%,#bccce0 71%,#86afe0 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #86afe0 0%,#bccce0 30%,#bccce0 71%,#86afe0 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86afe0', endColorstr='#86afe0',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #86afe0 0%,#bccce0 30%,#bccce0 71%,#86afe0 100%); /* W3C */
}

ul.quicktabs_tabs {
    margin-top: 0;
}

ul.quicktabs_tabs li {
background: #eff3fc; /* Old browsers */
background: -moz-linear-gradient(top, #86afe0 0%, #eff3fc 25%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86afe0), color-stop(25%,#eff3fc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #86afe0 0%,#eff3fc 25%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #86afe0 0%,#eff3fc 25%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #86afe0 0%,#eff3fc 25%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86afe0', endColorstr='#eff3fc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #86afe0 0%,#eff3fc 25%); /* W3C */
    margin-right: 10px;
    padding: 10px 10px 7px;;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 10px 10px 0px 0px;
border-radius: 10px 10px 0px 0px;  
border-bottom: 1px solid #0B376C;
}

ul.quicktabs_tabs li.active {
background: #bccce0; /* Old browsers */
background: -moz-linear-gradient(top, #2867b4 0%, #86afe0 35%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2867b4), color-stop(35%,#86afe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2867b4 0%,#86afe0 35%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2867b4 0%,#86afe0 35%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #2867b4 0%,#86afe0 35%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2867b4', endColorstr='#86afe0',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #2867b4 0%,#86afe0 35%); /* W3C */
    text-shadow: 1px 1px 3px #0B376C;
filter: dropshadow(color=#0B376C, offx=1, offy=1);
border-bottom: 1px solid white;
}

ul.quicktabs_tabs li.active a.active {
    color: #fff;
}

#edit-catalog-search-terms-wrapper label, #edit-melvyl-search-terms-wrapper label { 
 font-size: 1.25em;
    text-transform: uppercase;
    display: inline;
}

input#edit-catalog-search-submit, input#edit-melvyl-search-submit {
   background: url("../images/org_search.png") no-repeat scroll 0 -1px transparent;
    border: medium none;
    height: 23px;
    position: relative;
    text-indent: -9999px;
    top: 2px;
    width: 25px; 
    }

input#edit-catalog-search-terms, input#edit-melvyl-search-terms {
    width: 300px;
}

#edit-catalog-search-terms-wrapper, #edit-melvyl-search-terms-wrapper {
    display: inline;
}

.letters { 
	margin-top: 10px; 
	padding-top: 5px;
}

.ln-letters {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.browse .letters {
	margin-top: 0;
	padding-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.letters {
	overflow: hidden;	
}

.ln-letters a.ln-disabled, .letters .no-entry {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #0B376C;
  filter: dropshadow(color=#0B376C, offx=1, offy=1);
}

.ln-letters a, .letters a, .letters .no-entry {
    border-color: #fff;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 2px 5px;
    text-decoration: none;
}

.browse .letters a, .browse .letters .no-entry { 
	border-color: #ccc;
	background-color: #DAE6F3; 
}

.ln-letters a.ln-last, .letters .last {
	border-right: 1px solid #fff;
}

.browse .letters .last {
	border-right: 1px solid #ccc;
}

.ln-letters a:hover, .letters a:hover {
    background-color: #ffa50c;
    border-bottom: solid 1px #0B376C;
    color: #0B376C;
}

#views_listnav_rd_listing_block_1-nav {
    margin: 10px 0 20px;
}

#views_listnav_rd_listing_block_1 .views-field-field-rd-access-value img {
    background-color: #2867B4;
}

#main-menu a {
  display: inline-block;
  padding: 5px 20px 0;
}

.date {
  font-size: .875em;  
  margin-left: 3px;
}

.highlight {
  background-color: white;
  padding: 10px;
  border: 1px solid wheat;
}

#block-ucsb_library_research-catalog_search_simple .form-item label,  
#block-ucsb_library_research-catalog_search_simple .form-item .form-radios, 
#ucsb-library-research-block-catalog-search-simple-content .form-radios .form-item ,
#ucsb-library-research-block-melvyl-search-simple-content .form-item label, 
#ucsb-library-research-block-melvyl-search-simple-content .form-item .form-radios,
#ucsb-library-research-block-melvyl-search-simple-content .form-radios .form-item 
{
    display: inline;    
}

#block-ucsb_library_research-catalog_search_simple .form-radios, #ucsb-library-research-block-melvyl-search-simple-content .form-radios {
margin-left: 180px;
}

#main-menu a:hover {
  color: #0b376c;
  }

#main-menu li.megamenu-parent:after {
	content: "|";
	color: #fff;
}

#main-menu li.last:after { content: none; }

#main-menu ul.links li {
	padding: 0;
	white-space: nowrap;
}

*:first-child+html #main-menu { left: 0px; }

#block-views-news_kit_listing-block_1.block {
padding: 0;
}

.min-quicktab-main a {
  background-color: #fff;
  padding: 0 6px;
  font-size: .75em;
  border: 1px solid #FFA507;
  margin-left: 10px;
}

p.min-quicktab-main {
  padding-bottom: 0;
}

.views-exposed-form label {
font-weight: normal;
}

/** Highlights, Know your Library, Featured Databases Pages **/
/* Add a little padding to the left aligned image */
.view-highlights .floatleft { padding-right: 20px; }
.block .view-highlights .floatleft { padding-right: 12px; } /* less padding for the block on the home page */ 


/** STAFF **/

.view-users-in-department {
  line-height: 18px;
  margin-right: 10px;
}

.view-users-in-department.view-display-id-attachment_1 .view-content  {
  padding: 0 0 20px 0;
}

.view-users-in-department.view-display-id-attachment_1 .views-summary-unformatted {
  margin: -3px;
}

.view-users-in-department.view-display-id-attachment_1 .views-summary-unformatted a {
  background-color: white;
  border: 1px solid #0B376C;
  padding: 5px 4px 5px 5px;
}

.view-users-in-department.view-display-id-attachment_1 .views-summary-unformatted a:hover {
  background-color: #ffa50c;
  border-bottom: solid 1px #0B376C;
  color: #0B376C;
}

.view-users-in-department th.views-field-field-last-name-value {
  width: 150x;
}

.view-users-in-department th.views-field-tid {
  width: 100px;
}

.fakecolumn img {
margin-right: 20px;
border: 1px solid #666;
  background: #FBFDFF; /* old browsers */
  background: -moz-linear-gradient(top, #FBFDFF 0%, #FBFDFF 83%, #D8E2F0 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFDFF), color-stop(83%,#FBFDFF), color-stop(100%,#D8E2F0)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFDFF', endColorstr='#D8E2F0',GradientType=0 ); /* ie */	
  -webkit-box-shadow: 0px 3px 5px #03428f;
  -moz-box-shadow: 0px 3px 5px #03428f;	
  box-shadow: 0px 3px 5px #03428f;
}

#personnel-nav {
  margin-bottom: 20px;
}

.depthead {
  font-size: .875em;
  line-height: 10px;
}

.view-users-in-department .views-exposed-form .views-exposed-widget .form-submit {
margin: 12px 0 10px;
}

.views-exposed-form .views-exposed-widget #edit-submit-users-in-department {
    margin-top: 15px;   
}

/** Icons **/

div.icon-holder {
  height: 40px;
  width: 50px;
  float: left;
  margin-top:-10px;
}

li .icon, .icon p {
  margin-bottom: 10px;  
}

.icon p {
  margin-left: 50px;  
}

.book .icon-holder {
  background:url("../images/icons.png") no-repeat scroll -60px -180px transparent;
}

.monitor .icon-holder {
   background:url("../images/icons.png") no-repeat scroll -60px -259px transparent;  
}

.pencil .icon-holder {
   background:url("../images/icons.png") no-repeat scroll -60px -36px transparent;  
}

.bulb .icon-holder {
   background:url("../images/icons.png") no-repeat scroll -70px -135px transparent;  
}

.course .icon-holder {
   background:url("../images/icons.png") no-repeat scroll -63px -440px transparent;  
}

#block-block-15 a.social {
display:block;
float:left;
position:relative;
height:32px;
width:32px;
margin-right:10px;
}

.fb {
  background:url("../images/sprite_social_logo.png") no-repeat scroll -20px -38px transparent;  
}

.flickr {
  background:url("../images/sprite_social_logo.png") no-repeat scroll -20px -76px  transparent;  
}

.twitter {
  background:url("../images/sprite_social_logo.png") no-repeat scroll -20px -114px transparent;  
}

.rss {
  background:url("../images/sprite_social_logo.png") no-repeat scroll -20px 0px transparent;  
}

.ucsb div.icon-holder {
  width: 60px;
	margin-top: 4px;
}

a.support, a.cash {
	height: 40px;
	outline: medium none;
	padding: 10px 10px 10px 50px;
	width: 150px;
}

a.cash {
	background: url("../images/cash.png") no-repeat scroll left center transparent;
}

a.support {
    background: url("../images/gift.png") no-repeat scroll left center transparent;
}

#block-block-19 a.ask_icon {
display:block;
float:left;
position:relative;
height:45px;
width:45px;
margin-left:10px;
}

#block-block-19 p {
  height: 45px;
  margin-bottom: 0;
}
 
#block-block-19 h2 a {
  background: url("../images/icons.png") no-repeat scroll -10px -385px #d4e1f0;
  height: 50px;
  text-indent: -9999px;
  width: 105px;
  display: block;
  margin-bottom: 0;
  float: left;
  }

#sidebar-left #block-block-19.block {
	background-color: #d4e1f0;
}


#block-block-2 p.desc {
    margin-left: 0
}

.phone {
  background:url("../images/icons.png") no-repeat scroll -4px -52px transparent;  
}

.email {
  background:url("../images/icons.png") no-repeat scroll -4px 5px transparent;  
}

.chat {
  background:url("../images/icons.png") no-repeat scroll -4px -123px transparent;  
}

#block-ucsb_library-library_hours .hours {
height:16px;
padding:10px 5px 4px;
}

#block-ucsb_library-library_hours .maps { 
margin-left: 5px;
}

#block-views-news_kit_listing-block_1 h2, #block-views-news_kit_listing-block_2 h2,
#block-views-news_kit_listing-block_3 h2, #block-views-news_kit_listing-block_4 h2 {
  background:url("../images/icons.png") no-repeat scroll -60px -228px transparent;
  padding-bottom:10px;
  padding-left:50px;
}

.views-field-field-rd-main-url-url, .views-field-field-rd-help-url-url, .views-field-field-rd-mobile-url-url, .views-field-path {
  margin-right: 5px;
}

.floatleft { 
float: left;
clear: left;
padding: 5px 10px 10px 0;
}

.floatright { 
float: right;
clear: right;
padding: 0 0 10px 10px;
}

.imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right {
 	margin-left: 18px; 
}

.imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
 	margin-right: 18px; 
}
.image-caption {
  font-size:.875em;
}

/** Image cache preset styles **/
.imagecache-large_align_center, .imagecache-medium_align_center, .imagecache-small_image_center,
.imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right,
.imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
	margin-bottom: 22px;
}


.imagecache-large_align_center, .imagecache-medium_align_center, .imagecache-small_image_center {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.imagecache-large_align_center { width: 616px; }
.imagecache-medium_align_center { width: 460px; }
.imagecache-small_image_center { width: 200px; }

.imagecache-large_align_right, .imagecache-medium_align_right, .imagecache-small_image_right {
  clear: right;
  float: right;
}

.imagecache-large_align_left, .imagecache-medium_align_left, .imagecache-small_image_left {
  clear: left;
                  float: left;
}

/* Clear the float of the inserted image above */
.reset-block-alignment { clear:both; }

    
/**  RESEARCH PAGES **/

/* Style the body label ("Description:") for the rd node. This 'label' is created in the node-rd.tpl file */
div.body-label {  
	display: inline;
	font-weight: bold;
}

/* There are 2 field groups for this content type. This removes the default indenting of groups. Note: the fields Dates, 
   Thematic Dates, Description, + Related Databases could not be put into a field group because node descriptions cannot
   be placed inside of a field group. */
div.fieldgroup .content { padding-left: 0; }
div.fieldgroup { margin: 0 0 20px; }
/* some items w/in the group are lists; remove the bottom margin so these don't look like they are outside of the group */
div.fieldgroup .content ul { margin-bottom: 0; } 

.meta .topic {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.field-field-rd-material-type .item-list li, .field-field-rd-type .item-list li, .field-field-rd-related .item-list li {
    display: inline;
}
    
 .field-field-rd-material-type .item-list ul li, .field-field-rd-related .item-list ul li, .field-field-rd-type .item-list ul li {
    list-style: none;
    margin: 0 0 0 0;
}   

.meta ul.links li, .profile ul.links li {
    padding: 0;
}

.meta .news-topics { clear: left; }

/* Add a space in between news items in the view page view (all/news) */
div.news-item.first {
	padding-top: 1.875em;
}

div.news-item {
	padding-bottom: 2.5em;
}

div.news-item .teaser, div.news-item .topics {
	margin-bottom: 0.5em;
}

.node-type-rd h1 {
    float: left;
}

.profile .field {
  margin-bottom: 20px;
}

.profile .fakecolumn {
float: right;
width: 160px;
padding: 0 0 0 20px;
}

.profile .description ul {
  margin-left:20px;
}

#main.column .profile .social ul, #main.column .profile .social ul li {
  list-style-type: none;
  margin-left:0;
}

.field-field-rd-main-url {
clear:left;
}

.field-field-rd-access {
 background: url("../../../modules/custom/ucsb_library_rd/images/lock.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 16px;
    margin: 10px 20px 0;
    outline: medium none;
    text-indent: -9000px;
    width: 16px;
    }

.field-field-rd-main-url a {
 background: url("../../../modules/custom/ucsb_library_rd/images/search.gif") no-repeat scroll right top transparent;
    outline: medium none;
    padding: 4px 20px 4px 0;
    width: 100px;
    }
    
.field-field-rd-mobile-url a {
 background: url("../../../modules/custom/ucsb_library_rd/images/mobile.gif") no-repeat scroll right top transparent;
    outline: medium none;
    padding: 4px 20px 4px 0;
    width: 100px;
    }
    
 .field-field-rd-help-url a {
 background: url("../../../modules/custom/ucsb_library_rd/images/help.png") no-repeat scroll right top transparent;
    outline: medium none;
    padding: 4px 20px 4px 0;
    width: 100px;
    }

#block-ucsb_library_research-research_subject select, 
#block-ucsb_library_research-research_course select {
    width: 325px;    
}

#block-ucsb_library_research-research_subject, #block-ucsb_library_research-research_course, .block-ucsb_library_research-research {
    background: none repeat scroll 0 0 #F5F3EA;
    border: 1px solid #CCCCCC;
}

#block-ucsb_library_research-research_subject h2 {
  background: url("../images/icons.png") no-repeat scroll -75px -90px transparent;
  font-size: 1.25em;
  margin-top: 4px;
  padding: 4px 40px 10px;
}

#block-ucsb_library_research-research_course h2 {   
  background: url("../images/icons.png") no-repeat scroll -63px -490px transparent;
  font-size: 1.25em;
  margin-top: 4px;
  padding: 4px 40px 11px;
}

.db-results .listing {
  border-bottom: 1px solid #CCCCCC;
  font-size: 0.875em;
  margin-top: 10px;
  padding: 10px 0;
}

.listing {
  color: #666666;
  line-height: 14px;  
  margin-bottom: 10px;
}

.block .block-ucsb_library_rd h3 {
  margin-bottom: 0;
  font-weight: bold;
  padding-top: 0;
}

.view-rd-listing h3 {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#views-exposed-form-rd-listing-block-4, #views-exposed-form-rd-listing-block-2 {
  margin-bottom: 30px;
}

.view-rd-listing.view-display-id-attachment_1 {
  margin-bottom: 20px;
}

#block-ucsb_library_rd-db_subject_category_block {
	margin-bottom: 0;
}

.views-exposed-form .views-exposed-widget {
  padding-top: 2px;
}

#ucsb-library-research-block-melvyl-search-simple-content p {
margin-top: 10px;
}

/** SKINR **/

#sidebar-left .block.tan, .tan { 
  background-color:#F5F3EA;
}

#sidebar-left .block.blue, .blue { 
  background-color:#F5F3EA;
}

#sidebar-left .block.unround {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.sidebar .unround h2 {
background-color: #93b3d9;
margin:-10px -10px 10px -14px;
padding:8px 4px 4px 14px;
}

#sidebar-left .block.no-space {
    margin-bottom:0;
}

#sidebar-left .block.no-border {
    border-bottom:0;
}

.feature-carousel {
  border-top: 1px solid #ffcc33;
  border-bottom: 1px solid #ffcc33;
  background-color: #fff;
}
 
.shadow {
	-webkit-box-shadow: 0px 3px 5px #03428f;
	-moz-box-shadow: 0px 3px 5px #03428f;
	box-shadow: 0px 3px 5px #03428f;
}    

.yellow-border {
     border-right: #ffcc33 1px solid;
}

.blue-border {
  border: #d9e4f2 1px solid;
}

div#main div.content > ul {
  background-color: #F6F3E6;
  -webkit-box-shadow: 0px 3px 5px #gray;
  -moz-box-shadow: 0px 3px 5px #03428f;
  box-shadow: 0px 3px 5px #03428f;
  padding: 10px 10px 10px 25px;
  margin: 0 0 30px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  list-style-type: disc;
}

div#main div.content > ul.no-shadow {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px 10px 10px 25px;
  margin: 0 0 30px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  list-style-type: disc;
}

/* Remove the table layout specifically for MIL screens */
notMILtable {
  border-collapse: inherit;
  border-left: 1px solid #D7BE5D;
  border-bottom: 1px solid #D7BE5D;
}

/* Remove the table layout specifically for MIL screens */
notMILtabletd {
  background-color: #F6F3E6;
  border-right: 1px solid #D7BE5D;
  border-top: 1px solid #D7BE5D;
  padding: 8px;
  text-align: left;
}

/* Remove the table layout specifically for MIL screens */
notMILtabletbody notMILtableth {
  border-bottom: none;
}

/* Remove the table layout specifically for MIL screens */
notMILtableth {
  background-color: #f8f2ce;
  border-right: 1px solid #D7BE5D;
  border-top: 1px solid #D7BE5D;
  padding: 8px;
  text-align: center;
}

/* help */

.view-Help h3 {
  font-size: 1em;   
}

.view-Help .view-header, .view-Help .view-footer  {
 padding: 10px;
 border-bottom: 1px solid #D7BE5D;
 border-top: 1px solid #D7BE5D;
}

.view-Help .view-footer {
  margin-top: 40px;    
  background-color: #F6F3E6;
}

.view-Help .view-header {
  background-color: #fff;
  margin-bottom: 20px;    
}

.view-Help p {
    margin-bottom:0;
}

/* IL 2011_04_20 10:58  Experimental START */
.wysiwyg_encapsulate {
	width: 610px;
	border: 4px solid silver;
	overflow: scroll;
}
/* IL 2011_04_20 10:58  ExperimentalEND  */


/* WEBFORM ADJUSTMENTS */
/* Remove the email icon (used elsewhere with same class name) from the field background */
form.webform-client-form .email { background: none repeat scroll 0 0 #EEEEEE; }

/* float inline field input boxes and select items to the right */
form.webform-client-form div.webform-container-inline input { clear: right; float: right; }

/* clear this float for radio and calendar input */
form.webform-client-form div.webform-container-inline input.form-radio, 
form.webform-client-form div.webform-container-inline input.webform-calendar { float: none; }

/* Special CSS for Course Reserves List: The label for inline radio btns should be displayed as block so that the radio btns don't wrap */
#node-1657 form.webform-client-form .webform-container-inline { clear: right; }

#node-1657 div.webform-container-inline select { clear: right; float: right; }

#node-1657 form.webform-client-form div.webform-component-radios.webform-container-inline div.description { float: right; }

#node-1657 form.webform-client-form div.webform-component-radios.webform-container-inline .form-radios { clear: right; float: right; margin: 0.5em 0;}

/* style collapsible fieldsets */
form.webform-client-form fieldset.collapsible { clear: right; }
form.webform-client-form fieldset.collapsible { 
	background-color: white;
  padding: 10px 10px 20px;
  border: 1px solid wheat;
  margin-top: 10px;
  margin-bottom: 20px;
}
form.webform-client-form fieldset.collapsible.collapsed { 
  padding: 0;
  margin-bottom: 10px;
  border-left: none;
  border-right: none;
	border-bottom: none;
}

form.webform-client-form fieldset.collapsible legend a {
	background: none;
	background-image: none;
	padding-left: 10px;
	padding-right: 10px;
}

form.webform-client-form fieldset.collapsible.collapsed legend a {
	padding-left: 0;
}

/* Fix the inline display so that these components actually display inline! */
form.webform-client-form .webform-component-date div.webform-container-inline.webform-datepicker { display: inline; }
form.webform-client-form .webform-container-inline div.description { display: inline; }

/* Workflow (Edit) calendar -- overrides the forms.css style for .container-inline div */
#edit-workflow-scheduled-date-month-wrapper, #edit-workflow-scheduled-date-day-wrapper, #edit-workflow-scheduled-date-year-wrapper { display: inline; }

/* NO SEARCH RESULTS CONTENT STYLING */
div.no-search-results {
	background: none repeat scroll 0 0 #F5F3EA;
  border: 1px solid wheat;
  padding: 20px 10px 0 20px;
}

div.no-search-results p {
	margin-left: 20px;
	margin-bottom: 25px;
	padding-top: 5px; 
}

/* SEARCH LINK SPACING FOR THE CATALOG QUICKTAB (BASIC AND ADVANCED SEARCH LINKS) */
.cat-basic-links { padding-right: 5px; }
.cat-advanced-links { padding-left: 5px; }

/* MORE LINK - (HELP) LINK ON THE LOGON NODE */
h3.login { 
	margin-bottom: 15px;
	padding-bottom: 15px;  
}
a.help-link { 
	font-size: 0.70em; 
	padding-left: 20px;
}

div.field-item p.inline {
 display: inline; 
}

.db-list-title {
	font-weight: normal;
}

/* Highly Recommended for this Subject section */
.top-db-section {
	margin-top: 0px;
	padding-top: 12px;
	margin-bottom: 35px;
}

ul.top-db-list {
	margin-left: 21px;
	padding-bottom: 5px;
	list-style: disc outside none;
}

ul.top-db-list li {
	border-bottom: none;
	margin-bottom: 0px;
}

h4.all-db-list-title, h4.top-db-list-title {
	border-bottom: 1px solid #CCC;
	padding-bottom: 3px;
	margin-bottom: 20px;
}

/* Slideshows */
.slideshow div#content div.node {
    width: 57%;
    float: left;
}
.slideshow div#content div.block-views {
    float: right;
    margin-bottom: 0;
    padding: 12px 0 0;
}