/* typography and fundamental styles */
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: none; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	font-size: 14px;
}

a {
	text-decoration: none;
	font-weight: bolder;
	padding-bottom: 1px;
}

h1, h2, h3, h4, h5, h6 { font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif; }

h2, h3, h4, h5, h6 {
	padding-top: .5em;
	margin-bottom: .5em;
	line-height: 1em;
	font-weight: normal;
}

h1 {
	line-height: 1em;
	font-weight: bold;
	margin-bottom: 1em;
/*	margin-top: 10px; */
}

blockquote + blockquote, p + blockquote, ul + blockquote, ol + blockquote,
  dl + blockquote, table + blockquote,
dl + dl, p + dl, ul + dl, ol + dl, blockquote + dl, table + dl,
ol + ol, p + ol, ul + ol, dl + ol, blockquote + ol, table + ol,
p + p, ul + p, ol + p, dl + p, blockquote + p, table + p,
table + table, p + table, ul + table, ol + table, dl + table,
  blockquote + table,
ul + ul, p + ul, ol + ul, dl + ul, blockquote + ul, table + ul { margin-top: 1em; }
ol { list-style-type: decimal; }

ol.alpha {
	list-style-type: lower-alpha;
	margin-left: 30px;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
	margin-left: 30px;
	margin-right: 30px;
}

ol li {
  border-bottom: 1px solid #2867B4;
  line-height: 1.125em;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

ol li li {
  border-bottom: none;
    margin-bottom: 5px;
  padding-bottom: 5px;
}


h1 {
	font-size: 1.8em;
	font-weight: normal;
	letter-spacing: .5px;
}

h2 {
	font-size: 1.5em;
	line-height: 25px;
}

h3 { font-size: 1.25em; }
h4 { font-size: 1.1em; font-weight: bold; }
h5 { font-size: 1.0em; }
h6 { font-size: .875em; }
dd + dd, dd + dt, dd + ol, dd + ul,
dt + dt, dt + dd,
li + li, li ol, li ul { margin-top: .3em; }

#header ol, ul, li.leaf {
	list-style-type: circle;
	margin: 10px 0 0 0;
	padding: 0;
}

dd, ol, ul { margin-left: 30px; }
ul.field-items { margin-left: 0; }
dd ol, dd ul,
ol ol, ol ul,
ul ul, ul ol { margin-left: 1.5em; }
input.form-submit { font-size: 1.2em; }
#branding { font-family: Arial, Helvetica, sans-serif; }

.search-results dd {
  margin-left: 0px;   
  color: #666;
  border-bottom: 1px solid #CCC;
  font-size: .875em;
  }


#site-name a {
	font-size: 2.4em;
	font-weight: normal;
}

#site-slogan { font-size: 1.19em; }

#site-menu {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
}

/* #site-menu a:visited.active, #site-menu a.active { color: #fff; } */


#block-menu-menu-navigation-corner li {
    display: inline;
}

#block-menu-menu-navigation-corner ul {
    text-align:right;
}

#block-menu-menu-navigation-corner ul.menu li {
  margin-left: 30px;
  text-transform: uppercase;
}

#content .block h2, #sidebar-right .block h2  {
 padding-top:0;   
}

#sidebar-left h2, #sitemap h2.title  {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	padding-top:0;
}

#sidebar-right h2 {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.sidebar .block .block-content { line-height: 18px; }

#footer #block-menu-menu-footer-menu-3 a {
	font-weight: normal;
	font-size: .75em;
}

#block-menu-menu-follow-us h4 {
	padding-top: 0;
	color: #fff;
	font-weight: normal;
}

/* basics */
.terms { 
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
/*
.terms .links li {
	margin-right: 4px;
	background-color: #fff;
	text-transform: uppercase;
}*/

.submitted, .meta-group { font-size: .875em; }
/*.terms .links { font-size: .75em; }*/
.teaser p { line-height: 18px; }

.meta label {
  font-weight: bold;
}

ul.breadcrumbs {
  font-size: 0.85em;
  line-height: 30px;
}

ul.breadcrumbs li { 
  display: inline; }

#breadcrumbs-title a {
  font-weight: normal;
}

 .breadcrumbs li:after {
  content: ">";
  padding-right: 2px;
  margin-right: 2px;
} 

.breadcrumbs li.breadcrumb-last:after {
  content: " ";
    }
    
li.breadcrumb-last {
  font-weight: bold;
}

.help {
  font-style: italic;
}

#sidebar-left .block ul {
  padding:0;
  list-style: none;
}

#sidebar-left ul.menu li {
  padding-left: 1em;
  text-indent: -1em;
			}

#block-menu-menu-navigation-footer-primary li, #block-menu-menu-navigation-footer-secondary li, #block-menu-menu-navigation-footer-tertiary li { 
  display: inline; }

#block-menu-menu-navigation-footer-primary {
    padding-top: 10px;
}

#block-menu-menu-navigation-footer-primary.block ul, #block-menu-menu-navigation-footer-secondary.block ul, #block-menu-menu-navigation-footer-tertiary.block ul {
    padding:0;
}


#footer .block {
    padding:10px 10px 0;
    margin:0;
}

/* slideshow */
/* blocks, links and tabs */

#footer {
line-height:18px;
}

#footer ul.menu li.leaf {
border-right: 1px solid #0b376c;
padding-right:10px;
}

#footer ul.menu li.leaf.last {
border-right: none;
}


#block-ucsb_library_research-research_search_categories .item-list ul li, 
.menu-block-with-desc .item-list ul li {
  list-style: none;
  margin:0 0 5px;
}

#footer #block-menu-menu-navigation-footer-primary.block {
  margin-top: 10px;
}

#block-block-15 h2 {
  float:left;
  margin-right:20px;
  padding-top:0;
}
    
    
#block-block-16.block ul {
  list-style: none;
  margin:0 0 5px;
  padding:0;
}

#block-block-17 p {
  font-size:0.75em;
  margin-bottom:0;
  padding-left:6px;
}

#block-menu-menu-navigation-footer-tertiary {
  font-size: .75em;   
}

#block-ucsb_library_research-research_search_categories p,
.menu-block-with-desc p {
  font-size:0.85em;
  line-height:16px;
}

#block-ucsb_library_research-research_search_categories a, 
.menu-block-with-desc a {
  text-transform: uppercase;
}

#block-ucsb_library_research-research_search_categories h2 {
  background-color: #93b3d9;
  margin:-10px -10px 10px -14px;
  padding:8px 4px 4px 14px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 0 10px 0 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#sidebar-left .block-menu h2 {
  background-color: #93b3d9;
  margin:-10px -10px 10px -14px;
  padding:8px 4px 4px 14px;
    -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius: 0 10px 0 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.front #sidebar-left .block-menu h2 {
  background-color: #ffffff;
}


#sidebar-left #block-menu-menu-navigation-quicklinks.block-menu h2 {
    margin-bottom: 0;
}


#block-menu-menu-navigation-quicklinks li.leaf, #block-menu-menu-navigation-quicklinks ul { 
   list-style-image: none; 
   list-style-type: none;
   padding: 0 10px 5px;
}

#sidebar-left #block-menu-menu-navigation-quicklinks.block ul.menu li {
    margin: 0;
}

#block-ucsb_library-library_hours a {
	font-weight: normal;
}

.db-results .listing h3.title {
  font-size: 1.25em;
} 


.listing h3.title {
  display: inline;
  font-size: 1em;
  line-height: 16px;
}

li.first > p {
	margin: 0;
}

/* nodes */
/* blocks */
/* tagadelic */
