<td>
<ul role="list">
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=185&amp;state_id=5">Alameda</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=186&amp;state_id=5">Alpine</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=187&amp;state_id=5">Amador</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=188&amp;state_id=5">Butte</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=189&amp;state_id=5">Calaveras</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=190&amp;state_id=5">Colusa</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=191&amp;state_id=5">Contra Costa</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=192&amp;state_id=5">Del Norte</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=193&amp;state_id=5">El Dorado</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=194&amp;state_id=5">Fresno</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=195&amp;state_id=5">Glenn</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=196&amp;state_id=5">Humboldt</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=197&amp;state_id=5">Imperial</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=198&amp;state_id=5">Inyo</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=199&amp;state_id=5">Kern</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=200&amp;state_id=5">Kings</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=201&amp;state_id=5">Lake</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=202&amp;state_id=5">Lassen</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=203&amp;state_id=5">Los Angeles</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=204&amp;state_id=5">Madera</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=205&amp;state_id=5">Marin</a></li>
</ul>
</td>

<td>
<ul role="list">
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=206&amp;state_id=5">Mariposa</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=207&amp;state_id=5">Mendocino</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=208&amp;state_id=5">Merced</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=209&amp;state_id=5">Modoc</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=210&amp;state_id=5">Mono</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=211&amp;state_id=5">Monterey</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=212&amp;state_id=5">Napa</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=213&amp;state_id=5">Nevada</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=214&amp;state_id=5">Orange</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=215&amp;state_id=5">Placer</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=216&amp;state_id=5">Plumas</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=217&amp;state_id=5">Riverside</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=218&amp;state_id=5">Sacramento</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=219&amp;state_id=5">San Benito</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=220&amp;state_id=5">San Bernardino</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=221&amp;state_id=5">San Diego</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=222&amp;state_id=5">San Francisco</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=223&amp;state_id=5">San Joaquin</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=224&amp;state_id=5">San Luis Obispo</a></li>
</ul>
</td>

<td>
<ul role="list">
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=225&amp;state_id=5">San Mateo</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=226&amp;state_id=5">Santa Barbara</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=227&amp;state_id=5">Santa Clara</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=228&amp;state_id=5">Santa Cruz</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=229&amp;state_id=5">Shasta</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=230&amp;state_id=5">Sierra</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=231&amp;state_id=5">Siskiyou</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=232&amp;state_id=5">Solano</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=233&amp;state_id=5">Sonoma</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=234&amp;state_id=5">Stanislaus</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=235&amp;state_id=5">Sutter</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=236&amp;state_id=5">Tehama</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=237&amp;state_id=5">Trinity</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=238&amp;state_id=5">Tulare</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=239&amp;state_id=5">Tuolumne</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=240&amp;state_id=5">Ventura</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=241&amp;state_id=5">Yolo</a></li>
<li role="listitem"><a href="/apcatalog/ap_indexes/county.php?county_id=242&amp;state_id=5">Yuba</a></li>
</ul>
</td>
