.hidden {
  /* shift content off-screen; remains visible to screen readers /*
   * http://webaim.org/techniques/css/invisiblecontent/ */
  position: absolute;
  left: -999em;
  /* apparently this second push is required for old versions of Opera:
  /* http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
  top: -999px;
}

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12pt;

  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: bolder;
  padding-bottom: 1px;
}

h1, h2, h3, h4, h5, h6 { font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif; }

h2, h3, h4, h5, h6 {
  padding-top: .5em;
  margin-bottom: .5em;
  line-height: 1em;
  font-weight: normal;
}

h1 {
  line-height: 1em;
  font-weight: normal;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  line-height: 25px;
}

h3 { font-size: 1.25em; }
h4 { font-size: 1.1em; font-weight: bold; }
h5 { font-size: 1.0em; }
h6 { font-size: .875em; }

ol li {
  border-bottom: 1px solid #2867B4;
  line-height: 1.125em;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

li + li { margin-top: .3em; }

a:link {
  color: #0b376c;
}
a:visited {
  color: #0b376c;
}
a:hover  {
  color: #ffa50c;
}

/*
 * Nav styles (unconditional)
 */

nav {
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 254),
    rgb(246, 241, 216));
}

nav ul {
  clear: both;

  margin: 0;
  padding: 10px 0px 5px 10px;
  background-color: #FFA507;

  background: #b4bad4;
  background-image: linear-gradient(
    to bottom,
    rgb(253,235,159), rgb(255,165,7)
  );

  min-height: 30px;

  text-align: center;
  font-family: verdana,tahoma,arial,helvetica,sans-serif;
  line-height: 150%;

}

nav li {
  display: inline;
  list-style: none outside none;

  padding: 0 8px;
}
nav li + li {
  padding-left: 12px;
  border-left: solid 1px #6f7793;
}

nav a:hover {
  color: #0b376c;
  text-decoration: underline;
}

@media screen and (min-width: 550px) {
  .library img,
  .mil img {
    margin: 25px;
  }

  .mil img {
    float: right;
  }
}
@media screen and (max-width: 550px) {
  .library img {
    margin: 0 5% 2% 5%;
    width: 50%;
  }
  .mil img {
    width: 25%;
    margin: 1% 5%;
  }
  .mil img,
  .library img {
    height: auto;
  }
}


/*
 * Index styles (unconditional)
 */
.title-head {
  text-align: center;
}

.image-map {
  text-align: center;
}
.image-map img {
  margin: 0 auto;
}
/*
 * Index styles (conditional)
 */
@media screen and (min-width: 1000px) {
  .text {
    padding: 0 15%;
  }
}
@media screen and (max-width: 1000px) {
  .text {
    padding: 0 2%;
  }
}

/*
 * Footer styles (unconditional)
 */
.content {
  border-bottom: 6px solid #2867b4;
}

.footer {
  border-top: 6px solid #ffa507;
  background: #f6f1d8;

  padding-left: 1em;

  overflow: hidden;
}

.footer ul {
  list-style: none;
  border: none;
  text-align:left;

  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
}

.social a {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.fb {
  background:url("/images/sprite_social_logo.png") no-repeat scroll -20px -38px transparent;
}

.flickr {
  background:url("/images/sprite_social_logo.png") no-repeat scroll -20px -76px  transparent;
}

.twitter {
  background:url("/images/sprite_social_logo.png") no-repeat scroll -20px -114px transparent;
}

.rss {
  background:url("/images/sprite_social_logo.png") no-repeat scroll -20px 0px transparent;
}

/*
 * Footer styles (conditional)
 */
@media screen and (min-width: 1000px) {
  .footer > div {
    float: left;
    width: 33%;
  }
}

@media screen and (max-width: 1000px) {
  .meta {
    clear: left;
  }
  .footer > div + div {
    border-top: 3px solid #2867b4;
  }
}

/*
 * Table styles (unconditional)
 */
th {
  padding: 6px; /* NOTE: th padding must be set explicitly in order to support IE */
  background-color: #f8f8e9;
}
td + td {
  /* style matching tablesaw.css */
  border-left: 1px solid #dfdfdf;
}

/* tablesaw extensions */
.tablesaw-toolbar {
  margin: 0 1em;
}
.tablesaw button {
  cursor: pointer;
}
