html, body { 
        padding: 0; 
          margin: 0; 
          border: 0; 
          font-size: 100%; 
          baseline; 
          line-height: 1; 
          background:#ffffff url(' '); 
          font-family: Helvetica, Arial, sans-serif; 
          height: 100%;
}          
          
table, tr, td { 

          margin: 0;
          spacing: 0;
          background:transparent url(' '); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica,Arial,Verdana,Tahoma,sans-serif;
}
h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}
h1 {

   font-size: large;
   font-weight: bold;    
}
.MILtable, .MILtd {
        border-width: 1px;
        border-style: solid;
        border-color: #c0c0c0;
        vertical-align: middle;
}

.MILcenter { 
    margin-left: auto;
    margin-right: auto;
}

.MILheader-table {
        border-width: 3px;
        border-style: ridge;
} 

.MILhtml-height {
        height:100%
}

.MILbody-height {
        height:100%
}

.MILtable-height {
        height:100%
}

ul, li { padding: 0; 
         margin-left:12px;
         list-style-type: disc;
         border: 0; 
         vertical-align:baseline; 
         line-height: 1; 
         background:transparent; 
}

.MILlist-no-disc {
           list-style: none outside none;
           line-height: 1.7em;
}

.MILlook-like-link {
         color: #0B376C; 
         text-decoration: underline;
}


.MILlink a:link {
         color: #0B376C; 
         text-decoration: underline;
}

.MILlink a:visited {
         color: #800080;
         text-decoration: underline;
}

.MILlink a:active {
         color: #FF0000;
         text-decoration: underline;
}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}

#MILskip-links a,#MILskip-links a:link,#MILskip-links a:visited,#MILskip-links a:hover { 
  height:1px;
  left:0;
  overflow:hidden;
  position:absolute;
  top:-500px;
  width:1px;
}

#MILskip-links a:active,#MILskip-links a:focus {
  position:static;
  height:auto;
  width:auto;
}

#MILheader {
  background: linear-gradient(to right, #00468B, #18335D);
  height: 105px;
}

#MILucsb-logo-wrapper {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

a#MILucsb-logo {
  background: url("/apcatalog-assets/images/ucsb_library_wordmark_1-0_white_225px.png") no-repeat scroll left top transparent;
  display: block;
  width: 299px;
  height: 68px;
  margin-top: 20px;
  margin-left: 15px;
}

a#MILucsb-logo span, a#MILmil-logo span {
  left: -9999px;
  position: absolute;
}

#MILcontent-wrapper {
  width: 930px;
  margin: 0 auto;
  display: block;
  padding: 0 15px;
}

#MILmain-menu-wrapper {
  background: #b4bad4;
  height: 30px;
  margin-bottom: 1px;
}

/**************************************/


#MILmain-menu-wrapper{
    font-size: 14px;
  font-family:verdana,tahoma,arial,helvetica,sans-serif; /* pharmacy medium gold */
  padding:0px 0px 5px 10px;
  background-image: 
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(253,235,159)),
      color-stop(1, rgb(255,165,7))
    )
}


#MILmain-menu-wrapper{
  background-color: #FFA507;
  background-image: 
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(253,235,159)),
      color-stop(1, rgb(255,165,7))
    )
}




#MILmain-menu-wrapper{
  background-image:
    -moz-linear-gradient(
      center bottom,
      rgb(255,165,7  ) 0%
      ,
      rgb(253,235,159) 100%
      )
  }

/*******************************/

#MILbody {
     height: 100%; 
     width: 100%;
}   

#MILmain-menu {
  padding: 7px 0 0;
  margin: 0 auto;
  width: 960px;
  display: block;
  height: 30px;
  font-size: 0.95em;
}

#MILmain-menu li {
  display: inline;
/*  float: left; */
  list-style: none outside none;
  border-right: solid 1px #6f7793;
  padding: 0 10px;
}

#MILmain-menu li.first {
  padding-left: 15px;
}

#MILmain-menu li.last {
  border-right: none;
  padding-right: 0;
}

#MILmain-menu li a {
  text-decoration: none;
  color: #023a7e;
}

#MILmain-menu li a:hover {
  text-decoration: underline;
}

#MILwrap {
    min-height: 100%;
}

#MILmain {
    overflow:auto;
    padding-bottom: 70px;  /* must be same height as the footer */
}    

.MILlist-inline {
    display:inline-block;
    float:left;
    vertical-align:middle;
} 

.MILfloat-left {
    float:left;
}

.MILclear-both {
    clear:both;
}

.MILmain-menu-bottom-shade {
        box-shadow: 0 10px 10px #03428f;
}

.MILstaff-menu-header {
       background-image:url(/apcatalog-assets/images/header_background.gif);
       background-repeat: repeat-x;
       background-size:100px 100px;
} 

.MILstaff-menu-header td{
	padding-top: 1em;
	padding-bottom: 1em;
}
.MILstaff-menu-header h1 {
  color:  white;
}

.MILstaff-menu-header-links {
       background-color: white;
       height: 30px;
} 

.MILstaff-menu-footer {
       background-image:url(/apcatalog-assets/images/header_background.gif);
       background-repeat: repeat-x;
       height:40px
} 

.MILabsolute-footer {
       width: 100%;
       position: relative;
       margin-top: -70px; /* negative value of footer height */
       height: 70px;
       clear:both;
}       


#MILstaff-menu-footer-links {
       background-color:#CCCCCC;
       height: 20px;
} 

.MILleft-margin-12 {
    margin-left:12px;
}

.MILleft-margin-40 {
   margin-left:40px;
}

.MILright-margin-40 {
   margin-right:40px;
}

.MILright-margin-10 {
   margin-right:10px;
}

.MILleft-padding-40 {
   padding-left:40px;
}

.MILleft-padding-15 {
   padding-left:15px;
}

#MILleft-margin-80 {
   margin-left:80px;
}

.MILleft-margin-80 {
   margin-left:80px;
}

.MILtop-margin-10 {
   margin-top:10px;
}

.MILtop-padding-10 {
   padding-top:10px;
}

.MILbottom-margin-20 {
   margin-bottom:20px;
}

.MILbottom-margin-140 {
   margin-bottom:140px;
}

.MILbottom-padding-10 {
   padding-bottom:10px;
}

.MILbottom-margin-point8em {
    margin-bottom:0.75em;
}  

.MILbottom-margin-point5em {
    margin-bottom:0.5em;
}

.MILright-padding-5 {
   padding-right:5px;
}

.MILright-padding-40 {
   padding-right:40px;
}

.MILline-height-150 {
    line-height:150%;
}

.MILline-height-120 {
    line-height:120%;
}

.MILline-height-10 {
    line-height:10%;
}

.MILdark-grey {
   background-color:#CCCCCC;
}

.MILmid-grey {
/* background-color:#e0dfe3; */
   background-color:#e0dfe3;
}

.MILlight-grey {
   background-color:#999999;
}

.MILgold {
   background-color:#FF9900;
}

.MILgreen {
   background-color:#00CC00;
}

.MILfont-light-grey {
    color:#A8A8A8;
}

.MILwhite {
   background-color:#FFFFFF;
}

.MILwarning-red {
   background-color:#FF0000;
}

.MILfont-red {
    color:#FF0000;
}

.MILfont-blue {
    color:#0000FF;
}

#MILfooter-wrapper {
  clear: both;
/*  border-top: 2px solid #7E95C6;*/
}

.MILfont-xx-large {
   font-size: xx-large;
}

.MILfont-x-large {
   font-size: x-large;
}

.MILfont-x-large-bold {
   font-size: x-large;
   font-weight: bold;
}

.MILfont-large {
   font-size: large;
}

.MILfont-large-bold {
   font-size: large;
   font-weight: bold;
}

.MILfont-medium, .MILfont-input-box {
   font-size: medium;
}

.MILfont-small, .MILfont-list, .MILfont-edit {
   font-size: small;
}

.MILfont-x-small {
   font-size:  x-small;
}

.MILfont-bold {
   font-weight: bold;
}

#footer {
  background: #f6f1d8;
        border-top: 6px solid #ffa507;  
        float: left;  
  margin: 0 auto;
  width: 100%;
}

#MILfooter2{
  background: #f6f1d8;
        border-top: 6px solid #2867b4;        
        float: left;  
  margin: 0 auto;
  width: 100%;
}

#MILfooter {
        float: left;  
  margin: 0 auto;
  width: 960px;
}

.icon-address, .info-materials {
  font-size: 90%;
}

.icon-address {
  float: left;
  width: 25%;
  padding-top: 15px;
}

.icon-holder a img {
  border:  none;
}

.info-materials {
  float: right;
  width: 55%;
  padding-top: 23px;
  padding-left: 19px;
  line-height: 1.4;
}

.icon-holder {
  width: 60px;
  float: left;
  height: 98px;
}

.info-materials p, .mil-address {
  margin-top: 0;
}

.info-materials p {
  margin-bottom: 6px;
}

.copyright, .last-updated {
  font-size: 75%; 
}

.info-materials p.copyright {
  margin-top: 12px;
}

.info-materials p.last-updated {
  color: gray;
  padding-bottom: 15px;
}

.mil-address {
    line-height: 1.35;
    padding-top: 5px;
}

.mil-address a {
  text-decoration: none;
  color: #023a7e;
}

.mil-address a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  #MILheader, #MILmain-menu-wrapper, #MILfooter-wrapper {
    width: 975px;
  }
  
  a#MILucsb-logo {
    margin-left: 10px;
  }
  
  a#MILmil-logo {
    margin-right: 10px;
  }
  
  #MILmain-menu {
    padding-left: 15px;
  }
  
  #MILmain-menu li.first {
    padding-left: 0;
  }
}

/* MIL styles existing before standardising on library header/footer */
.MILhidden, .hidden { display: none; }
.MILunhidden, .unhidden { display: block; }

.nobreak {white-space:nowrap;
   padding-right:5px;
   }

.colHeader {
    background-color:#e0dfe3; 
    border:1px solid; 
    border-color:#c0c0c0; 
    font-size:10pt;
    font-face:Arial, Helvetica, sans-serif;
    font-color:#000000; 
    vertical-align:top;
    text-align:left;
    nowrap:nowrap;
}
.regional-breakdown-map{
	max-width: 700px;
	max-height: 450px;
	margin-bottom: 8%;
}

.menulist li {
	margin-top: 1em;
}
.depricated{
    font-weight: lighter;
    color: 199  203 209 ;
    font-size: small;
}